apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-demo-deployment
  labels:
    app: nginx-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-demo
  template:
    metadata:
      labels:
        app: nginx-demo
    spec:
      containers:
        - name: nginx-demo
          image: vlobachevsky/nginx-demo:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          livenessProbe:
            exec:
              command:
              - /bin/sh
              - -c
              - "[ -f /usr/local/nginx/logs/nginx.pid ] && ps -o user | grep nginx && ps -o args | grep 'nginx: worker process'"
            initialDelaySeconds: 3
            periodSeconds: 3
          readinessProbe:
            httpGet:
              scheme: HTTP
              path: /index.html
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 3